:root {
    --bg-color: #F5F5DC;
    --text-color: #333333;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

header{
    display: flex;
}

header .logo {
    width: 100px;
    padding: 15px;
}

header .pageTitle {
    font-size: 30px;
}

main {
    padding: 30px;
    text-align: left;
}

main .calc p {
    font-weight: bold;
}

main .calc .icon {
    width: 1em;
}

main .msg {
    margin-top: 40px;
}

main .msg ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}

main .msg ul li {
    padding-left: 20px;
    background: url(../img/logo.png) left 0px top 3px no-repeat;
    background-size: 1em auto;
}

footer {
    height: 30vh;
    padding: 30px;
}